<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Nordcomputer_Stockfilter::main" translate="title" title="Stock Filter" sortOrder="50"/>
            </resource>
        </resources>
    </acl>
</config>
