<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="cataloginventory" translate="label tooltip comment" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
              <group id="cronjobs" translate="label tooltip comment" type="text" sortOrder="999999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Stock Filter Cronjob Configuration</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="2" showInDefault="1" canRestore="1">
                    <label>Enable Cronjob for stock-filter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cronjobupdate" translate="label tooltip comment" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                      <label>Cronjob for updating stock-filter</label>
                      <comment>Set time for cronjob (for example: * * * * *   to run every minute)</comment>
                </field>
              </group>
          </section>
    </system>
</config>
